# The Old Codease that shall ba used as a prime reference
# for the new codebase recreation Nothing under this folder
# should be included in the new codebase
/old-codebase

# The local rulse of agents in antigravity
/.agents

# The extracted codebase content which is not part of the new codebase
/extracted_codebase.txt

# The tool that is used for the extraction
/recreation.py